@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Secular+One&display=swap");
/*font-family: 'Roboto', sans-serif;*/
/*#00296B #003487 #003A96 #004CC7 #0059E8*/
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4,
p,
a {
  font-size: 2rem;
}
/*body*/
#body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*nav*/
#nav {
  top: 0;
  left: 0;
  position: sticky;
  background: linear-gradient(to top, #003487, #001f51);
}
#nav a.navbar-brand {
  display: flex;
}
#nav a img:nth-child(n + 2) {
  display: none;
}
#nav button.navbar-toggler {
  background-image: url(https://res.cloudinary.com/dgqkcp16g/image/upload/v1656368575/bgnav_fk4wh2.webp);
  border: 0.5px solid #004cc7;
}
#nav ul {
  padding: 0;
}
#nav a {
  color: white;
}
#nav a:hover {
  color: #1cf0ff;
  transition: 500ms;
  font-weight: 500;
}
#nav ul.dropdown-menu {
  background-color: #003487;
}
#nav ul.dropdown-menu a:hover {
  color: #1cf0ff;
  background-color: #004cc7;
}
.nav-item {
  margin-inline: 5px;
}
/*main index*/
.bg__main {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
}
.header {
  padding: 5px;
  margin-block: 20px;
  background-image: url(https://res.cloudinary.com/dgqkcp16g/image/upload/v1656368575/bghd_gsqqef.webp);
  color: white;
  text-align: center;
}
/*section index*/
.section__index {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  width: 60%;
  background-image: url(https://res.cloudinary.com/dgqkcp16g/image/upload/v1656368575/bgnav_fk4wh2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.section__index h2 {
  text-align: center;
  color: white;
  font-weight: 400;
  width: 25%;
  align-self: center;
  border-bottom: solid;
  font-size: 2.5rem;
}
.section__index-w {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  width: 60%;
  background-color: white;
}
.section__index-w h2 {
  text-align: center;
  color: white;
  font-weight: 400;
  width: 25%;
  align-self: center;
  border-bottom: solid;
  font-size: 2.5rem;
}
.div_index {
  display: flex;
  padding: 10px;
  align-self: center;
  justify-content: space-evenly;
  width: 80%;
}
.article__index {
  width: 40%;
  display: flex;
}
.article__index a {
  text-align: center;
  align-self: center;
  margin: auto;
  text-decoration: none;
  font-size: 2.2rem;
  color: white;
}
.article__index a:hover {
  color: #fac200;
  font-weight: 500;
  transition-delay: 150ms;
}
.div_index2 {
  display: flex;
  align-self: center;
  flex-direction: column;
}
/*article index2*/
.article__index2 {
  width: 40%;
  align-self: center;
  overflow: hidden;
  background-image: url(../multimedia/images/bghd.webp);
  padding: 5px;
  box-shadow: 2px 2px black;
}
.article__index2 a {
  text-align: center;
  align-self: center;
  margin: auto;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.article__index2 a:hover {
  color: #fac200;
  transition-delay: 150ms;
  font-weight: 400;
}
.article__index2 img {
  margin-bottom: 5px;
}
.div_index3 {
  display: flex;
  justify-content: space-around;
}
.div_index3 a {
  width: 55%;
}
.article__mm {
  width: 80%;
  box-shadow: 2px 2px black;
}
.article__mm:hover {
  transform: scale(0.985, 0.985);
  transition: 500ms;
  cursor: pointer;
}
.article__mm2 {
  width: 40%;
  box-shadow: 2px 2px black;
}
.article__mm2:hover {
  transform: scale(0.985, 0.985);
  transition: 500ms;
  cursor: pointer;
}
/*footer*/
.footer {
  width: auto;
  bottom: 0;
  background: linear-gradient(to top, #003487, #001f51);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  font-size: 1.4rem;
  color: white;
  overflow-x: hidden;
}
.footer h4 {
  margin-bottom: 20px;
  color: #08b7c3;
}
/*footer dirección*/
.footer__addrs {
  width: 20%;
  text-align: center;
  padding: 20px;
  align-self: center;
}
.footer__addrs address {
  font-style: normal;
  color: #08b7c3;
}
/*footer redes*/
.footer__redes {
  width: 20%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.div__redes {
  height: 30%;
  display: flex;
  justify-content: center;
}
.div__redes a {
  align-self: center;
  text-decoration: none;
  margin-inline: 10px;
}
.ms-auto,
.me-auto {
  margin-inline: auto;
}
/*footer nav*/
.footer__nav * {
  padding-left: 0;
}
.footer__nav {
  width: 20%;
  text-align: center;
  padding: 10px;
}
.footer__nav ul {
  margin-top: 40px;
}
.footer__nav li {
  list-style: none;
  margin-top: 5px;
}
.footer__nav a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}
.footer__nav a:hover {
  color: yellow;
  font-weight: 500;
  transition-delay: 250ms;
}
/*footer legal*/
.footer__legal {
  width: 20%;
  text-align: center;
  padding: 10px;
}
.footer__legal div {
  max-height: 500px;
  max-width: 900px;
  margin-inline: auto;
  margin-top: 40px;
}
.footer__legal span {
  font-size: 1.4rem;
}
/*responsive*/
@media (max-width: 1400px) {
  #nav a img:nth-child(1) {
    display: none;
  }
  #nav a img:nth-child(2) {
    display: block;
  }
}
@media (max-width: 1200px) {
  #nav a img:nth-child(2) {
    display: none;
  }
  #nav a img:nth-child(3) {
    display: block;
  }
}
@media (max-width: 1080px) {
  #nav a img:nth-child(3) {
    display: none;
  }
  #nav a img:nth-child(4) {
    display: block;
  }
}
@media (max-width: 991px) {
  /*nav*/
  #nav button {
    display: flex;
  }
  #nav {
    padding-bottom: 0;
  }
  #nav div.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  #nav button.navbar-toggler {
    margin-block: 5px;
    margin-inline: 10px;
  }
  #nav a img:nth-child(4) {
    display: none;
  }
  #nav a img:nth-child(2) {
    display: block;
  }
  .nav-item {
    margin-inline: 0;
  }
  #nav li {
    border-top: 1px solid rgba(21, 182, 194, 0.28);
  }
  #nav li:nth-child(6) {
    border-bottom: 1px solid rgba(21, 182, 194, 0.28);
  }
  #nav a.nav-link {
    margin-left: 10px;
  }
  #nav ul.dropdown-menu a {
    margin-left: 20px;
  }
  /*footer*/
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "addrs redes redes"
      "addrs fnav legal";
  }
  .footer h4 {
    margin: 10px;
    font-size: 2rem;
  }
  /*footer dirección*/
  .footer__addrs {
    grid-area: addrs;
    width: 100%;
    align-self: center;
    border-right: #0059e8 solid 1px;
  }
  .footer__addrs h4 {
    display: none;
  }
  .footer__addrs address {
    margin-block: 10px;
  }
  /*footer redes*/
  .footer__redes {
    grid-area: redes;
    width: 90%;
    text-align: center;
    margin-inline: auto;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    border-bottom: #0059e8 solid 1px;
  }
  .footer__redes h4 {
    width: 100%;
    text-align: center;
    align-self: center;
  }
  .div__redes {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  .div__redes a {
    margin-inline: 5px;
  }
  .ms-auto,
  .me-auto {
    margin-inline: 0;
  }
  /*footer nav*/
  .footer__nav {
    grid-area: fnav;
    width: 100%;
  }
  .footer__nav ul {
    margin-top: 0px;
  }
  /*footer legal*/
  .footer__legal {
    grid-area: legal;
    width: 100%;
  }
  .footer__legal div {
    margin-top: 0px;
  }
  .footer__legal span {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  /*nav*/
  #nav a img:nth-child(2) {
    display: none;
  }
  #nav a img:nth-child(3) {
    display: block;
  }
  /*header*/
  .header h1 {
    font-size: 3.5rem;
  }
  /*footer*/
  .footer__legal span {
    font-size: 1.2rem;
  }
}
@media (max-width: 733px) {
  /*footer*/
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "addrs fnav"
      "redes legal";
  }
  /*footer dirección*/
  .footer__addrs {
    width: 100%;
    align-self: center;
    border-right: #0059e8 solid 1px;
  }
  /*footer redes*/
  .footer__redes {
    grid-area: redes;
    width: 100%;
    padding: 20px;
    display: flex;
    border-right: #0059e8 solid 1px;
    border-bottom: none;
  }
  .footer__redes h4 {
    width: 100%;
    text-align: center;
    align-self: center;
  }
  .div__redes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  .ms-auto,
  .me-auto {
    margin-inline: auto;
  }
  /*footer nav*/
  .footer__nav {
    grid-area: fnav;
    width: 100%;
    padding: 0;
    padding: 20px;
  }
  .footer__nav ul {
    margin-top: 40px;
  }
  .footer__nav a {
    font-size: 1.4rem;
  }
  /*footer legal*/
  .footer__legal {
    grid-area: legal;
    width: 100%;
    padding: 0;
    padding: 20px;
  }
  .footer__legal div {
    margin-top: 40px;
    max-width: 300px;
  }
  .footer__legal span {
    font-size: 1.4rem;
  }
}
@media (max-width: 600px) {
  /*nav*/
  #nav button.navbar-toggler {
    margin-inline: 5px;
  }
  /*header*/
  .header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 585px) {
  /*footer*/
  .footer h4 {
    font-size: 1.6rem;
  }
  .footer__legal span {
    font-size: 1.5rem;
  }
  .ms-auto,
  .me-auto {
    margin-inline: auto;
  }
}
@media (max-width: 417px) {
  /*footer*/
  .footer__legal span {
    font-size: 1.2rem;
  }
}
@media (max-width: 380px) {
  /*nav*/
  #nav a img:nth-child(3) {
    display: none;
  }
  #nav a img:nth-child(4) {
    display: block;
  }
  /*header*/
  .header h1 {
    font-size: 2rem;
  }
  /*footer*/
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer h4 {
    margin-bottom: 5px;
    font-size: 2rem;
    border-bottom: #004cc7 solid 1px;
  }
  /*footer dirección*/
  .footer__addrs {
    width: 100%;
    padding: 5px;
    border: none;
  }
  .footer__addrs address {
    display: none;
  }
  /*footer redes*/
  .footer__redes {
    width: auto;
    display: flex;
    justify-content: space-between;
    border: none;
  }
  .footer__redes h4 {
    display: none;
  }
  .div__redes {
    width: 50%;
    height: 10%;
    margin-bottom: 0px;
  }
  .div__redes a {
    margin-inline: 5px;
  }
  .ms-auto,
  .me-auto {
    margin-inline: 0;
  }
  /*footer nav*/
  .footer__nav {
    width: 100%;
  }
  .footer__nav ul {
    margin-top: 0px;
  }
  .footer__nav li {
    margin-top: 0px;
  }
  .footer__nav a {
    font-size: 1.4rem;
  }
  /*footer legal*/
  .footer__legal {
    width: 100%;
  }
  .footer__legal div {
    margin-top: 0px;
  }
  .footer__legal span {
    font-size: 1.4rem;
  }
}
@media (max-width: 295px) {
  #nav a img:nth-child(4) {
    display: none;
  }
  #nav a img:nth-child(5) {
    display: block;
  }
  /*footer*/
  .div__redes {
    width: auto;
  }
  .div__redes a {
    margin-inline: 3px;
  }
  .ms-auto,
  .me-auto {
    margin-inline: auto;
  }
}
